RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

DirectoryIndex index.php
RewriteRule ^fale-conosco$ captura.php?pag=2 [NC,L]
RewriteRule ^login$ login.php?pag=3 [NC,L]
RewriteRule ^orcamento$ orcamento.php?pag=4 [NC,L]
ErrorDocument 404 /404.php  